 * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      background: #00b4db;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.8;
    }

    a {
      text-decoration: none;
    }

    #container {
      margin: auto;
      max-width: 400px;
      padding: 20px;
    }

    .form-wrap {
      background: #fff;
      padding: 15px 25px;
      color: #333;
    }

    .form-wrap h1,
    .form-wrap p {
      text-align: center;
    }

    .form-wrap p {
      text-transform: capitalize;
      
    }

    .form-wrap .form-group {
      margin-top: 15px;
    }

    .form-wrap .form-group label {
      display: block;
      color: #333;
    }

    .form-wrap .form-group input {
      width: 100%;
      border: #fff;
    }

    .form-wrap .form-group input {
      width: 100%;
      padding: 10px;
      border: #ddd 1px solid;
      border-radius: 5px;
    }

    .form-wrap .form-group input:hover {
      border: orange 1px solid;
    }

    .form-wrap button {
      width: 100%;
      margin-top: 20px;
      padding: 10px;
      color: #333;
      background-color: aqua;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      font-size: 20px;      
    }

    .form-wrap button:hover {
      opacity: .7;
      transition: .4s;
      
    }

     .form-wrap .bottom-text {
      font-size: 15px;
      margin-top: 20px;
    }

    footer {
      text-align: center;
      margin: 20px;
      border: #ddd solid 1px;
      margin: auto;
      max-width: 400px;
      padding: 10px;
    }

    footer a {
      color: white;
    }